<div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/cloudcat.png"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div style="text-align:center">
          <div>Filter By:</div>
          <input type='text'
          [(ngModel)]='listFilter' />
        </div>

        <table class='table'>
   <thead>
     <tr>
       <th>Business ID</th>
       <th>Business Name</th>
       <th>Business State</th>
       <th>FEID</th>
       <th>Owners</th>
       <th>Minority Owned</th>
       <th>Women Owned</th>
       <th>Small Business</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor='let place of filteredList'>
       <td>ID</td>
       <td>{{ place.businessName }}</td>
       <td>{{ place.businessState}}</td>
       <td>NONE</td>
       <td>{{ place.owners }}</td>
       <td>{{ place.minorityOwned }}</td>
       <td>{{ place.womenOwned }}
      
       </td>
       <td>{{ place.smallBusiness }}</td>
     </tr>
   </tbody>
 </table>
        
      </div>
    </div>
  </div>