<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div class="card">
    <div class="card-body">
      <div class="container-fluid" style="padding: 0;">
        <div style="display: flex; justify-content: space-between;">
          <div>
            <span class="text-left"><img src="./assets/images/cloudcatlogo.png"
              class="img-responsive center-block"
              style="max-height:300px;" /></span>       

          </div>
          <div style="float: right; padding-top: 50px;">
            <span style="padding-top: 60px; padding-bottom: 10px; padding-right: 10px;">
              <input class="inputStyle" stlye="width: 200px; margin-bottom: 15px;" type="input" placeholder="Filter by Business Name" [(ngModel)]='listFilter' >
            </span>
            <button class="xcsvButtonx" mat-button (click)="exporter.exportTable('xlsx')"><i class="fa fa-download"></i> Export to Excel</button>
            <button class="xcsvButton" mat-button (click)="exporter.exportTable('csv')"><i class="fa fa-download"></i> Export to CSV</button>
         
          </div>
            
            <!-- <span style="padding-top: 60px; padding-bottom: 15px;">
                <input class="inputStyle" stlye="width: 200px; margin-bottom: 15px;" type="input" placeholder="Filter by Business Name" [(ngModel)]='listFilter' >
            
            </span> -->
        </div>
        <span style="padding-bottom: 5px;"></span>
     </div>
    
   


      <!-- <div class="text-right">
        <span style="padding-top: 60px; padding-bottom: 15px; padding-right: 10px;">
          <input class="inputStyle" stlye="width: 200px; margin-bottom: 15px;" type="input" placeholder="Filter by Business Name" [(ngModel)]='listFilter' >
        </span>
     
          <button class="xcsvButtonx" mat-button (click)="exporter.exportTable('xlsx')"><i class="fa fa-download"></i> Export to Excel</button>
           <button class="xcsvButton" mat-button (click)="exporter.exportTable('csv')"><i class="fa fa-download"></i> Export to CSV</button>
      </div>
      -->


     
     <mat-table matTableExporter class="info-table mat-elevation-z8" [dataSource]="dataSource" matSort #empTbSortWithObject="matSort" #exporter="matTableExporter">
      
      <ng-container matColumnDef="businessName">
          <mat-header-cell *matHeaderCellDef  mat-sort-header style="background-color: #333333; color: white">Name</mat-header-cell>
          <mat-cell *matCellDef="let info">{{info.businessName}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="businessState">
          <mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #333333; color: white">State</mat-header-cell>
          <mat-cell class="businessState-cell"
                    *matCellDef="let info">{{info.businessState}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="businessFEIN">
          <mat-header-cell *matHeaderCellDef style="background-color: #333333; color: white">FEIN</mat-header-cell>
          <mat-cell class="businessFIEN-cell"
                    *matCellDef="let info">{{info.businessFEIN}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="businessOwners"> 
        <mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #333333; color: white">Owners</mat-header-cell>
        <mat-cell class="businessOwners-cell"
                  *matCellDef="let info">{{info.businessOwners}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="minorityOwned">
        <mat-header-cell *matHeaderCellDef style="background-color: #333333; color: white">Minority Owned</mat-header-cell>
        <mat-cell class="minorityOwned-cell"
                *matCellDef="let info">
          <ng-container *ngIf="(info.businessDiversityInfo[0].minorityOwned == false || info.businessDiversityInfo[0].minorityOwned == null)">
            <i class="bi-dash"></i>
          </ng-container>
          <ng-container *ngIf="(info.businessDiversityInfo[0].minorityOwned == true)">
            <i class="bi-check-circle" style="color:green; font-size:20px"></i>
          </ng-container>    
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="womenOwned">
        <mat-header-cell *matHeaderCellDef style="background-color: #333333; color: white">Women Owned</mat-header-cell>
          <mat-cell class="womenOwned-cell"
              *matCellDef="let info">
            <ng-container *ngIf="(info.businessDiversityInfo[0].womenOwned == false || info.businessDiversityInfo[0].womenOwned == null)">
                <i class="bi-dash"></i>
            </ng-container>
            <ng-container *ngIf="(info.businessDiversityInfo[0].womenOwned == true)">
              <i class="bi-check-circle" style="color:green; font-size:20px"></i>
            </ng-container>               
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="smallBusiness">
        <mat-header-cell *matHeaderCellDef style="background-color: #333333; color: white">Small Business</mat-header-cell>
        <mat-cell class="smallBusiness-cell"
            *matCellDef="let info">
          <ng-container *ngIf="(info.businessDiversityInfo[0].smallBusiness == false || info.businessDiversityInfo[0].smallBusiness == null)">
              <i class="bi-dash"></i>
          </ng-container>
          <ng-container *ngIf="(info.businessDiversityInfo[0].smallBusiness == true)">
            <i class="bi-check-circle" style="color:green; font-size:20px"></i>
          </ng-container>  
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div id="pluswrap" *ngIf="spinnerDisplay">
      <div class="plus">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>
     <mat-paginator [pageSizeOptions]="[10,25,50,100]" showFirstLastButtons></mat-paginator> 
  </div>