<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/cloudcat.png"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div style="text-align:center">
          <div>Filter By Business Name:
          <input type='text'
          [(ngModel)]='listFilter' />
        </div>
        </div>

        <table class='table'>
          <thead>
            <tr>
              <th>ID</th>
              <th>FEIN</th>
              <th>Name</th>
              <th>State</th>
              <th>Owners</th>
              <th>Diversity ID</th>
              <th>Minority Owned</th>
              <th>Women Owned</th>
              <th>Small Business</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let info of filteredList'>
              <td>{{ info.businessId}}</td>
              <td>{{ info.businessFEIN }}</td>
              <td>{{ info.businessName}}</td>
              <td>{{ info.businessState}}</td>
              <td>{{ info.businessOwners }}</td>
              <td>{{ info.businessDiversityInfo.businessDiversityId }}</td>
              <td *ngIf="(info.businessDiversityInfo.minorityOwned == 'false')">
                <i class="icon-remove"></i>
              </td>
              <td *ngIf="(info.businessDiversityInfo.minorityOwned == 'true')">
                <i class="icon-check-sign"></i>
              </td>
              <td *ngIf="(info.businessDiversityInfo.womenOwned == 'true')">
                <i class="icon-check-sign"></i>
              </td>
              <td *ngIf="(info.businessDiversityInfo.womenOwned == 'false')">
                <i class="icon-remove"></i>
              </td>
              <td *ngIf="(info.businessDiversityInfo.smallBusiness == 'true')">
                <i class="icon-check-sign"></i>
              </td>
              <td *ngIf="(info.businessDiversityInfo.smallBusiness == 'false')">
                <i class="icon-remove"></i>
              </td>      
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>